<% if @user_events.any? %>
  <h2><%= @username %> events</h2>
  <% @user_events.each do |event| %>
    <article class="container">
      <strong><%=event.title%></strong><br />
      <p><%= event.description %></p>
      <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
    </article>
  <%end%>
<%end%>
