<h2>Upcoming events</h2>
<% @events.each do | event | %>
  <article class="container">
    <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
    <span><%= link_to "@#{event.event_creator.username}", user_path(event.event_creator.id)%></span>
    <p><%= event.description %></p>
    <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
  </article>
<%end%>
