<div class="new-section">
  <h2>Upcoming events</h2>
</div>
<section class="grid-container top-3">
  <% @events.each do | event | %>
    <article class="grid-item">
      <div>
        <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
        <span><%= link_to "@#{event.event_creator.username}", user_path(event.event_creator.id), class: "profile-link"%></span>
        <p class="description"><%= event.description %></p>
      </div>
      <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
    </article>
  <%end%>
</section>
