<div class="new-section">
  <h2>Upcoming events</h2>
</div>
<section class="grid-container top-3">
  <% @events.each do | event | %>
    <article class="grid-item">
      <div>
        <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
        <span><%= link_to "@#{event.event_creator.username}", user_path(event.event_creator.id), class: "profile-link"%></span>
        <p class="description"><%= event.description %></p>
      </div>
      <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
    </article>
  <%end%>
</section>
<div id="current_anchor"></div><br>
<div class="container auto">
  <% if Event.all.where('date >= ?', DateTime.now).count > @limit.to_i %>
      <div><%= link_to "More", events_path(:limit => @limit.to_i + 6, :limit_past => @limit_past.to_i, anchor: "current_anchor"), class: "btn-sml wide"%></div>
    <% end %>
</div>

<div class="new-section">
  <h2>Past events</h2>
</div>

<section class="grid-container top-3">
  <% @past_events.each do | event | %>
    <article class="grid-item">
      <div>
        <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
        <span><%= link_to "@#{event.event_creator.username}", user_path(event.event_creator.id), class: "profile-link"%></span>
        <p class="description"><%= event.description %></p>
      </div>
      <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
    </article>
  <%end%>
</section>
<div id="past_anchor"></div><br>
<div class="container auto">
  <% if Event.all.where('date < ?', DateTime.now).count > @limit_past.to_i %>
      <div><%= link_to "More", events_path(:limit => @limit.to_i, :limit_past => @limit_past.to_i + 6, anchor: "past_anchor" ), class: "btn-sml wide bottom-4"%></div>
    <% end %>
</div>