<section class="container">
  <div class="bottom-1">
    <h2>Create new event</h2>
  </div>
  <%= form_with model: @events, data: {turbo: false} do |form| %>
      <%= form.label :title %>
      <%= form.text_field :title %>
      <%= form.label :description, "Event description" %>
      <%= form.text_area :description, size: "40x10", class: "fluid"%>
      <%= form.label :date, "Event starts" %>
      <%= form.datetime_local_field :date, value: (Time.now + 1.day).strftime("%Y-%m-%dT%H:%M").to_s %>
      <%= form.submit "Create", class: "button is-inverted top-3" %>
    <% end %>
</section>