<section class="new-section">
  <h2><%= @username %>'s Profile</h2>
  <h2>Hosting <%= @user_hosting.count %> </h2>
  <section class="grid-container">
    <% @user_hosting.each do |event| %>
      <article class="grid-item">
        <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
        <p class="description"><%= event.description %></p>
        <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
      </article>
    <%end%>
  </section>
  <h2>Attending <%= @user_going_to.count %> </h2>
  <section class="grid-container">
    <% @user_going_to.each do |event| %>
      <article class="grid-item">
        <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
        <p class="description"><%= event.description %></p>
        <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
      </article>
    <%end%>
    </section>
  </section>
