<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <%= link_to events_path(:limit => 6, :limit_past => 6), class: "navbar-item" do %>
          <h1 class="title">PrivateEvents</h1>
        <% end %>
      </div>
      <div class="nav-buttons">
          <% if user_signed_in? %>
          <p class="control">
            <%= link_to "New event", new_event_path, class: "button"%>
          </p>
          <p class="control">
            <%= link_to current_user.username, user_path(current_user.id), class: "button" %>
          </p>
          <p class="control">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: "delete" }, class:"button is-red" %>
          </p>
        <% else %>
          <p class="control">
            <%= link_to 'Log In', new_user_session_path, class: "button" %>
          </p>
          <p class="control">
            <%= link_to 'Sign Up', new_user_registration_path, class: "button" %>
          </p>
        <% end %>
      </div>
    </nav>
    <% if flash[:notice] %>
      <p class="notice flash"><%= notice %></p>
    <%end%>
    <% if flash[:alert] %>
      <p class="alert flash"><%= alert %></p>
    <%end%>
    <%= yield %>
  </body>
</html>
